In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/Apartments.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Area           1182 non-null   float64
 1   Payment        1181 non-null   object
 2   Ownership      1182 non-null   object
 3   Status         1182 non-null   object
 4   Bedrooms       1182 non-null   float64
 5   Bathrooms      1182 non-null   float64
 6   PrivateGarden  1485 non-null   object
 7   price          1182 non-null   object
dtypes: float64(3), object(5)
memory usage: 92.9+ KB

In [3]:
data.sample(10)

,Area,Payment,Ownership,Status,Bedrooms,Bathrooms,PrivateGarden,price
1446,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
614,165.0,Cash,Primary,Ready,3.0,3.0,Yes,"EGP 6,150,000"
418,180.0,Cash,Resale,Ready,3.0,3.0,No,"EGP 14,000,000"
866,150.0,Cash or Installment,Primary,Ready,3.0,2.0,Yes,"EGP 11,000,000"
138,165.0,Cash,Primary,Ready,3.0,3.0,No,"EGP 5,950,000"
208,140.0,Cash,Primary,Ready,2.0,3.0,Yes,"EGP 5,500,000"
587,145.0,Cash,Resale,Ready,2.0,3.0,No,"EGP 5,700,000"
142,169.0,Cash,Resale,Ready,3.0,3.0,No,"EGP 8,500,000"
1189,164.0,Cash,Resale,Ready,3.0,3.0,No,"EGP 6,050,000"
651,225.0,Cash or Installment,Resale,Ready,3.0,2.0,Yes,"EGP 9,000,000"

In [4]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181 entries, 0 to 1349
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Area           1181 non-null   float64
 1   Payment        1181 non-null   object
 2   Ownership      1181 non-null   object
 3   Status         1181 non-null   object
 4   Bedrooms       1181 non-null   float64
 5   Bathrooms      1181 non-null   float64
 6   PrivateGarden  1181 non-null   object
 7   price          1181 non-null   object
dtypes: float64(3), object(5)
memory usage: 83.0+ KB

In [5]:
data['total_rooms'] = data['Bathrooms'] + data['Bedrooms']
data = data.drop(['Bathrooms','Bedrooms'],axis=1)

In [6]:
data['PrivateGarden'] = data['PrivateGarden'].map({'Yes':1,'No':0})

In [7]:
data['price'] = data['price'].replace(r'[^\d]','',regex = True).astype(float)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181 entries, 0 to 1349
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Area           1181 non-null   float64
 1   Payment        1181 non-null   object
 2   Ownership      1181 non-null   object
 3   Status         1181 non-null   object
 4   PrivateGarden  1181 non-null   int64
 5   price          1181 non-null   float64
 6   total_rooms    1181 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 73.8+ KB

In [9]:
data = pd.get_dummies(data)
data.sample(5)

,Area,PrivateGarden,price,total_rooms,Payment_Cash,Payment_Cash or Installment,Payment_Installment,Ownership_Primary,Ownership_Resale,Status_Off-plan,Status_Ready
1259,170.0,1,8500000.0,6.0,True,False,False,True,False,False,True
1315,179.0,0,8000000.0,6.0,True,False,False,False,True,False,True
561,160.0,1,9800000.0,6.0,True,False,False,True,False,False,True
1027,160.0,1,16500000.0,6.0,False,True,False,True,False,False,True
528,155.0,0,6500000.0,6.0,False,False,True,False,True,False,True

We can delete one dummy variable from each feature so this variable will be the baseline and will be represented by the intercept in our regression model

In [10]:
data = data.drop(['Payment_Cash','Ownership_Resale', 'Status_Ready'], axis=1)

In [12]:
data.to_csv('../data/ProcessedData.csv', index = False)